<!doctype html>
<html lang="pl">

<head>
    <link rel="icon" type="image/ico" href="img/favicon.ico">
    <meta charset="utf-8">
    <title>Projekto - wprowadzimy twój biznes na dobre tory!</title>
    <meta property="og:site_name" content="Projekto" />
    <meta property="og:image" content="admin/content/uploads/267ad0fbe88d5a7766820e5bded90e85/_3249108335.jpg" />
    <meta property="og:description"
        content="Projekto - agencja reklamowa specjalizująca się w marketingu medycznym w internecie i w bezpośrednim kontakcie z pacjentami." />
    <meta name="description"
        content="Projekto - agencja reklamowa specjalizująca się w marketingu medycznym w internecie i w bezpośrednim kontakcie z pacjentami." />
    <meta name="keywords"
        content="projekty medyczne, markieting medyczny, medyczna agencja reklamowa, promowanie klinik medycznych, kreowanie marki medycznej" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/et-line-icons.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/theme-startup.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="./app/scripts/components/ciastkoCiastki/ciastkoCiastki.css" rel="stylesheet" type="text/css"
        media="all">
    <link
        href="https://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans:400,600|Raleway:100,300,400,500,600,700&display=swap&subset=latin-ext"
        rel="stylesheet">
    <base href="/">
</head>
<!-- Facebook Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
        n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1519357108212953');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=1519357108212953&ev=PageView&noscript=1" /></noscript>
<!-- End Facebook Pixel Code -->

<body ng-app="app" ng-controller="MainCtrl as vm">

    <div class="nav-container navbar-fixed-top">
        <div class="loading" ng-show="loading">Loading&#8230;</div>

        <nav class="absolute bg-light">
            <div class="nav-bar">
                <div class="module left">
                    <a href="tel:+48660440904" style="
					font-size: 30px;">
                        +48 660 440 904
                    </a>
                </div>

                <div class="module widget-handle offscreen-toggle right">
                    <div class="hidden-xs menu-label">MENU</div><i class="ti-menu"></i>
                </div>
            </div>
            <div class="offscreen-container bg-dark text-center">
                <div class="close-nav">
                    <a>
                        <i class="ti-close"></i>
                    </a>
                </div>
                <div class="v-align-transform text-center">
                    <a href="#" style="letter-spacing: 10px;
					font-size: 30px;">
                        MENU
                    </a>
                    <ul class="mb40 mb-xs-24 mt40">

                        <li class="fade-on-hover">
                            <a href="#uslugi" class="inner-link">
                                <h5 class="uppercase mb8">Usługi</h5>
                            </a>
                        </li>
                        <li class="fade-on-hover">
                            <a href="#szkolenia" class="inner-link">
                                <h5 class="uppercase mb8">Szkolenia</h5>
                            </a>
                        </li>
                        <li class="fade-on-hover">
                            <a href="#o_nas" class="inner-link">
                                <h5 class="uppercase mb8">O nas</h5>
                            </a>
                        </li>
                        <li class="fade-on-hover">
                            <a href="#klienci" class="inner-link">
                                <h5 class="uppercase mb8">Klienci</h5>
                            </a>
                        </li>

                        <li class="fade-on-hover">
                            <a href="/blog" class="inner-link">
                                <h5 class="uppercase mb8">Blog - w budowie</h5>
                            </a>
                        </li>
                        <li class="fade-on-hover">
                            <a href="/strefa_partnera" class="inner-link">
                                <h5 class="uppercase mb8">Strefa partnera</h5>
                            </a>
                        </li>
                        <li class="fade-on-hover">
                            <a href="#kontakt" class="inner-link">
                                <h5 class="uppercase mb8">Kontakt</h5>
                            </a>
                        </li>
                    </ul>
                    <p class="fade-half"></p>
                    <ul class="list-inline social-list">
                        <li>
                            <a href="https://www.facebook.com/Projekto-113997036648956/">
                                Nasza strona na facebook
                                <i class="ti-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end of offscreen container-->
        </nav>
    </div>
    <div ng-view=""></div>
    <footer class="footer-1 bg-dark" ng-controller="FooterCtrl as vm">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h6 class="title">Obszary działań</h6>
                        <hr>
                        <ul class="link-list recent-posts">
                            <li ng-repeat="entry in vm.prices track by $index">
                                <a
                                    href="obszary/{{entry.id}}/{{entry.tytul_pl | replace: ' ':'_'}}">{{entry.tytul_pl}}</a>
                                <span class="date">{{entry.podtytul_pl}}

                                </span>
                            </li>
                        </ul>
                        <img alt="Logo" class="logo" src="img/logo.png">
                    </div>
                    <!--end of widget-->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h6 class="title">Usługi</h6>
                        <hr>
                        <ul class="link-list recent-posts">
                            <li ng-repeat="icon in vm.icons track by $index" ng-if="$index <= 5">
                                <a href="uslugi/{{icon.id}}/{{icon.tytul_pl | replace: ' ':'_'}}">{{icon.tytul_pl}}</a>
                                <span class="date">{{icon.podtytul_pl}}

                                </span>
                            </li>
                        </ul>
                    </div>
                    <!--end of widget-->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h6 class="title">&nbsp;</h6>
                        <hr>
                        <ul class="link-list recent-posts">
                            <li ng-repeat="icon in vm.icons track by $index" ng-if="$index > 5">
                                <a href="uslugi/{{icon.id}}/{{icon.tytul_pl | replace: ' ':'_'}}">{{icon.tytul_pl}}</a>
                                <span class="date">{{icon.podtytul_pl}}

                                </span>
                            </li>
                        </ul>
                    </div>
                    <!--end of widget-->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h6 class="title">Ostatnio na blogu</h6>
                        <hr>
                        <ul class="link-list recent-posts">
                            <!-- <li>
                                <a href="#">Hugging pugs is super trendy</a>
                                <span class="date">February
                                    <span class="number"><?= date('Y-m-d')?></span>
                                </span>
                            </li> -->
                        </ul>
                    </div>
                    <!--end of widget-->
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-6">
                    <span class="sub">© Wszelkie prawa zastrzeżone Projekto</span>
                </div>
                <div class="col-sm-6 text-right">
                    <ul class="list-inline social-list">
                        <li>
                            <a href="https://www.facebook.com/marketingdlaklinik/" target="_blank">
                                Nasza strona marketingu
                                <i class="ti-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of container-->
        <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Do góry</a>
    </footer>
    <ciastko-ciastki policy-link="'polityka_prywatnosci'" site-id="'projekto'"></ciastko-ciastki>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="./js/angular/angular.js"></script>
    <script src="./js/angular/angular-animate.js"></script>
    <script src="./js/angular/angular-cookies.js"></script>
    <script src="./js/angular/angular-resource.js"></script>
    <script src="./js/angular/angular-route.js"></script>
    <script src="./js/angular/angular-sanitize.js"></script>
    <script src="./js/angular/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <!--<script src="./js/scripts.js"></script>-->
    <script src="./app/scripts/app.js"></script>
    <!-- config files -->
    <script src="./app/scripts/config/app.config.js"></script>
    <!-- services -->
    <script src="./app/scripts/services/loadingInterceptor.service.js"></script>
    <script src="./app/scripts/services/data.service.js"></script>
    <script src="./app/scripts/services/replace.service.js"></script>

    <!-- Constants services -->
    <script src="./app/scripts/constants/config.const.js"></script>
    <!-- controllers -->
    <script src="./app/scripts/controllers/main.ctrl.js"></script>
    <script src="./app/scripts/controllers/home.ctrl.js"></script>
    <script src="./app/scripts/controllers/form.ctrl.js"></script>
    <script src="./app/scripts/controllers/page.ctrl.js"></script>
    <script src="./app/scripts/controllers/pp.ctrl.js"></script>
    <script src="./app/scripts/controllers/footer.ctrl.js"></script>
    <script src="./app/scripts/controllers/blog.ctrl.js"></script>
    <script src="./app/scripts/controllers/blogPost.ctrl.js"></script>
    <script src="./app/scripts/controllers/loginActions.ctrl.js"></script>

    <!-- components -->
    <script src="./app/scripts/components/ciastkoCiastki/ciastkoCiastki.js"></script>
    <script src="./app/scripts/components/ciastkoCiastki/ciastkoCiastki.ctrl.js"></script>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/parallax.js"></script>
</body>

</html>