<div class="main-container">
    <section class="cover fullscreen image-bg overlay">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="/img/home11.jpg" />
        </div>
        <div class="container v-align-transform">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
                    <div class="feature bordered text-center">
                        <h4 class="uppercase">Zaloguj się</h4>
                        <form class="text-left">
                            <input class="mb0" type="text" placeholder="Mail" />
                            <input class="mb0" type="password" placeholder="Hasło" />
                            <input type="submit" value="Zaloguj" />
                        </form>
                        <p class="mb0">Nie masz konta?
                            <a href="/strefa_partnera/rejestracja">Kliknij tutaj aby wysłać zgłoszenie</a>
                        </p>
                        <p class="mb0 mt16">Stając się naszym partnerem, uzyskujesz dostęp do szkoleń, możliwości
                            reklamy
                            swojej firmy, oraz pełne wsparcie specjalistów.
                        </p>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>